body{
  background-image: url("../img/simple_dashed.png");
}

h1{
  color: yellow;
  text-align: center;
  text-shadow: 3px 3px 3px #FFCB00;
}


h2{
  background-color: black;
  color: white;
  font-style: oblique;
}

h1 span{
  border-bottom: 3px solid black;
}

a{
  font-size: 20px;
  color: #FF6600;
}

.contenedor{
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
}

.texto{
  text-align: justify;
  font-style: italic;
  font-size: 20px;
  color: white;
}
